---
title: About
layout: default
---
{% include header.html %}
<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>About Me</h2>
</div>


<main class="tags-content" style="margin-top: 0px">
    <ul class="tags-list" style="list-style-type: none;padding: 40px;">
		<h1>比克</h1>
	<br/>
		<p>来自重庆，祖籍湖北，工科小硕，目前是名后端开发，爱玩PC装机；喜好动漫，喜好DOTA2，曾经人菜瘾又大。</p>
	<br/>
		<p>工作了</p>
	<br/>
		<b>在这里初衷</b>
		<br/>
			<img src="https://raw.githubusercontent.com/dendyikbc/PicGoBed/master/img/yunmu.gif" width="600" height="280" alt="PST"/>
		<br/>
			<p>1).偶尔记录一些文档,方便自己回看的同时也许能指引下新入坑的同学。文章难免有错误,如有发现请联系指出,以免误人子弟。</a></p>
		<br/>
		<b>最近在做甚</b>
		<br/>
			<img src="https://raw.githubusercontent.com/dendyikbc/PicGoBed/master/img/offer.gif" width="600" height="320" alt="给个offer呀 老板"/>
		<br/>
			<p>21届毕业生,被互联网鞭打中</a></p>
			<p>22.11.11 更：和朋友们聊了聊今年师弟们的就业，寒气逼人</a></p>
		<br/>
    </ul>
	
</main>
    
{% include footer.html %}
